<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTO | ONIX Y MARMOL JB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Quienes somos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./productos.html">Productos</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Cotiza</a>
                    </li> -->
                    <li class="nav-item active">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <h1 class="text-center mt-4">Contactanos y cotiza</h1>
        <hr class="hr-center">
        <br>
        <div class="container">
            <form class="col-md-8 col-12 offset-md-2 my-4">
                <div class="row">
                    <div class="form-group col-md-12 col-12">
                        <label for="exampleFormControlInput1">Nombre</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label for="exampleFormControlInput1">E-mail</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label for="exampleFormControlInput1">Telefono</label>
                        <input type="phone" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group col-md-12 col-12s">
                        <label for="exampleFormControlSelect1">Asunto</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Contacto</option>
                            <option>Cotización</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 col-12">
                        <label for="exampleFormControlTextarea1">Mensaje</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="col-md-12 col-12 text-center my-3">
                        <button class="btn btn-action my-3 center">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h3 class="mb-5">ONIX Y MARMOL JB</h3>
                    <p class="phone mb-3"> <a href="">(222) 410 6151</a> / <a href="">(222) 101 2884</a></p>
                    <a href="">
                        <p class="email">jb.arteenunsololugar@hotmail.com</p>
                    </a>
                </div>
                <div class="col-md-6 col-12 mt-5">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <a href="../index.html">
                                <p class="pages">QUIENES SOMOS</p>
                            </a>
                            <a href="./productos.html">
                                <p class="pages">PRODUCTOS</p>
                            </a>
                            <a href="./contacto.html">
                                <p class="pages">CONTACTO</p>
                            </a>
                        </div>
                        <div class="col-md-3 col-12">
                            <a href="">
                                <p class="social">INSTAGRAM</p>
                            </a>
                            <a href="">
                                <p class="social">FACEBOOK</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copy mt-5">© 2020. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>